<div class="container-fluid">

  <div class="jumbotron text-center">
    <h2>Welcome to<acme-malarkey extra-values="['Project Mercury', 'O3 Poops']" /></h2>
  </div>
  
  <h6>Trips under 20 min</h6>
  <nvd3 options='main.options' data='main.data'></nvd3>


  <div class="row">
    <div ng-repeat="(key, bathroom) in main.bathrooms" class="col-xs-12 col-sm-4">
      <h2>{{key | bathroomName}}</h2>
      <ul class="list-group">
        <li ng-repeat="trip in bathroom | orderBy : '-time' track by $index" class="list-group-item">
          <h4>{{trip.time | date : 'MMM d hh:mm a'}} <small>busy {{trip.duration | date : 'mm:ss'}}</small></h4>
        </li>
      </ul>
    </div>
  </div>

</div>

